{% extends 'base.html.twig' %}

{% block title %}Bienvenue à Diatem{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<header>{% if app.user %}
        <div class="mb-3" style="text-align: right;">
           Bonjour {{ app.user.prenom }} {{ app.user.nom }}, <a href="{{ path('app_logout') }}" style="margin:0 20px">Se déconnecter</a>
        </div>
    {% endif %}</header>
<div class="example-wrapper">
    <h1>Bienvenue à Diatem</h1>
    <div><a href="{{ path('app_user_list') }}">Voir la liste des utilisateurs</a> </div>
</div>
{% endblock %}
